.banner {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.banner img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* 🔹 Мобильный стиль, как у about-us */
@media (max-width: 980px) {
  .banner img {
    height: 220px; /* можно 200-250px, подбери по макету */
    object-fit: cover;
    
  }
}