.slider{
  position:relative;
  width:100%;
  overflow:hidden;
  border-radius: 5px;
}
.slide{ opacity:0; transition:opacity .5s; position:absolute; inset:0; }
.slide.active{ opacity:1; position:relative; }
.slide img{ width:100%; height:auto; display:block; }
.dots{ position:absolute; bottom:12px; left:0; right:0; display:flex; justify-content:center; gap:8px; }
.dot{ width:8px; height:8px; border-radius:50%; background:#ccc; cursor:pointer; }
.active-dot{ background:#444; }
