.banner {
  width: 100%;
  max-width: 1600px; /* можно адаптировать */
  margin: 50px auto; /* центр по горизонтали */
  overflow: hidden;
  border-radius: 8px;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
