.slider {
  position: relative;
  width: 100%;
  max-width: 1600px; /* ограничь ширину по желанию */
  margin: 50px auto;     /* 👉 центрирует по горизонтали */
  overflow: hidden;
  border-radius: 8px;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: auto;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.dots {
  position: absolute;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.active-dot {
  background: #444;
}
