@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}